
/* newsList style */

.news-block {
    /* padding: 0; */
}

.new-item-inner-block, .news-item__inner {
    padding: 2% 5% 0% 0%;
}

.news-item-image-params {
    padding: 0; 
}

.news-item-image-params div {
    text-align: left;
    padding: 0;
    width: 100%;
    
}

.news-item img {
    max-width: 100%;
    text-align: center;
    padding: 0;
}

@media (max-width: 768px) {
    .news-item-image div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .new-item-inner-block, .news-item__inner {
        padding: 5% 2%;
    }
    
}